<%- include('partials/header.ejs'); -%>
<main class="form-signin w-100 m-auto container">
    <form action="/new" method="post">
      
      <h1 class="h3 mb-3 fw-normal">Datos Del Libro</h1>
  
      <div class="form-floating my-4">
        <input type="text" class="form-control" id="floatingInput" name="name">
        <label for="floatingInput">Titulo</label>
      </div>
      <div class="form-floating my-4">
        <input type="text" class="form-control" id="floatingPassword"  name="author">
        <label for="floatingPassword">Autor</label>
      </div>
      <div class="form-floating my-4">
        <input type="text" class="form-control" id="floatingPassword"  name="photoid">
        <label for="floatingPassword">Codigo de imagen ISBN (opcional)</label>
      </div>
      <div class="form-floating my-4">
        <input type="date" class="form-control" id="floatingPassword"  name="read_date">
        <label for="floatingPassword">Fecha de lectura</label>
      </div>
      <div class="form-floating my-4">
        <input type="number" min="0" max="10" class="form-control" id="floatingPassword"  name="score">
        <label for="floatingPassword">Puntuacion</label>
      </div>
      <div class="form-floating my-4">
        <input type="text" class="form-control" id="floatingPassword"  name="opinion">
        <label for="floatingPassword">Comentario</label>
      </div>
 
      <button class="btn btn-primary w-80 py-2" type="submit">Guardar Libro</button>
    </form>

    
  </main>
<%- include('partials/footer.ejs'); -%>